@charset "utf-8";
@import "normalize";

body {
  background: #EFFBF2;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
.header {
  text-align: center;
  background: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRRA-7EhJqsNkD0Ur0x4Ky7qzdXN4KHo5f5Zwj7WNJMq3jE2hK70A') no-repeat center center;
  background-size: cover;
  padding: 4rem;

  .main-header {
    color: #666;
  }
}

.header-subnav {
  float: none;
  position: relative;
  top: 4rem;
  text-align: center;
  margin-bottom: 0;

  li {
    float: none;
    display: inline-block;

    a {
      padding: 0.9rem 1rem 0.75rem;
      font-size: 0.875rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;

      &.is-active {
        background: rgba(250,250,250,0.7);
        color: #333;
      }

      &:hover {
        background: rgba(250,250,250,0.7);
        color: #333;
        transition: all .25s ease-in-out;
      }
    }
  }
}
section.top{
  margin-top: -45px;
  padding: 0;
  display: block;
  position:auto;
  background: no-repeat center;
  background-size: 100%;
  background-image: url('../images/logo.svg');
  color: #fff;
  width: 100%;
  height: 500px;
  line-height: 28px;
}
