%link{href: "http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css", rel: "stylesheet"}
  %header.header
    %h1.main-header Jenny!
    %ul.header-subnav
      %li= link_to 'Home', '/middleman/', relative: true, target:'_self'
      %li= link_to 'About', '/middleman/about', relative: true, target:'_self'
      %li= link_to 'Projects', '/middleman/projects', relative: true, target:'_self'
      %li= link_to 'Blog', '/middleman/blog', relative: true, target:'_self'
