.row
  .large-3.columns
    %img{alt: 'Jenny', src: 'http://www.gracevanberkum.com/wp-content/uploads/2013/02/where-the-magic-happens.jpg', style: 'padding-top: 10px;width: 250px; height: auto;'}
  .large-9.columns
    %p Jenny has worked in various roles in the non-profit and for-profit sector in Stockholm, London and Tokyo, driving change processes within the fields of sales, finance, organisational development and leadership.
