.row
  .large-10.columns
    %h1 Projects
    %p{style: 'display: inline-block !important;'} I tend to have multiple projects running at any given time, these are some of them:

  .row#projects
  .large-8.columns
  - data.projects.each_slice(3) do |group|
    .row
    - group.each do |project|
      .large-4.small-6.columns
        = image_tag project[:image_url], style: 'width:250px;height:auto;overflow:hidden'
        .panel
          = link_to project[:name], project[:link], target: '_blank'
          %h6.subheader
            = project[:description]
